.userNotification {
  width: 300px;
  height: 150px;
  border: 2px solid #6F2B15;
  border-radius: 10px;
  text-align: center;
  margin: 0 auto;
}

.userNotification p {
  line-height: 60px;
  font-size: 20px;
  font-weight: 800;
}