body {
  font-family: 'Courier New', Courier, monospace;
  background-color: #E3DAD3;
}

img {
  display: block;
}

button {
  height: 30px;
  border-radius: 10px;
  border: 2px solid #6F2B15;
  background-color: #EFECE9;
  margin-left: 4px;
  cursor: pointer;
  font-size: 16px;
}